* {
    margin: 0;
    padding: 0;
}

/***********************Navbar**************************/
.nav-link {
    margin: 10px 15px 0px 15px;
}

.navbar-brand {
    margin-top: -15px;
}

@media screen and (max-width: 960px ) {
    .navbar-brand {
        margin-top: 10px;
    }
}

p.blog-link {
    display: inline-block;
    background-color: #F18460;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    color: white;
}


.carousel-item img {
    height: 100vh;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 576px){
    .carousel-caption h1{
        font-size: 1.5em;
    }
    .carousel-caption p,.carousel-caption button{
        font-size: 1em;
    }
    #portfolio h2{
        font-size: 1.5em;
    }
}


.orange-btn {
    background-color: #F18460;
    color: white;
    width: 200px;
    margin-top: 15px;
}



.carousel-indicators {
    text-align: right;
    float: right;
    left: 50% !important;
    right: inherit;
}


.div-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-center-pic {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-center {
    display: block;
    text-align: center;
}

#portfolio {
    background-color: #2E3E4E;
}

.blue-btn {
    background-color: #2994C0;
    color: white;
    width: 120px;
    float: right;
}

.section-title {
    padding: 40px 0px 100px 0px;
}

.card {
    background: none;
    border: none;

}

#portfolio .card-title {
    font-size: 1.5rem;
}

#portfolio .card-body {
    margin-left: -20px;
}
.text-blue{
    color: #2994C0;
}

.text-orange{
    color: #F18460;
}

.text-white{
    color: white;
}

#services h2{
    padding: 30px 0 0 0;
}
#services  p,#offer p{
    text-align: justify;
    font-size: 0.9rem;
}


#contact{
    background-color: #2E3E4E;
    padding-top: 30px;
    padding-bottom: 30px;
}
#contact h4{
    margin-bottom: 30px;
    display: inline-block;
}
#contact hr{
    height: 1px;
    background-color:white;
}
.footer-div-pic{
    height: 40px;
    width: 40px;
    background-color: white;
}
